<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>

    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome.css">
    <link rel="stylesheet" href="style.css">
</head>

<body class="text-center">

    <form class="form-signin">
            <img class="mb-4" src="logo.png" alt="" width="121" height="167">
            <h1 class="h3 mb-3 font-weight-normal">Hello, <%=loggedUser%>.</h1>
            <img class="mb-4" src="<%=imageProfile%>" alt="" width="32" height="32">
            <a href ="/logout" class="btn btn-lg btn-primary btn-block" role="button">Logout</a>
    </form>
</body>

</html>